@import 'https://fonts.googleapis.com/css?family=Oxygen:400,700,400italic,700italic&subset=latin,latin-ext';

.main.row {
  margin-top: 2em;
  font-family: Oxygen, 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.accordion .title {
  text-align: center;
}

.ui.accordion .active.title .angle.icon,
.ui.accordion .accordion .active.title .angle.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.ui.accordion.menu .item .active.title > .angle.icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ta-right {
  text-align: right !important;
}
.summary {
  font-size: 1.2em;
}

.hide {
  display: none !important;
}

.bold {
    display: block;
    margin: 0 0 .28571429rem;
    color: rgba(0,0,0,.87);
    font-size: 1.1em;
    font-weight: 700;
    text-transform: none;
}

.error {
  color: #f00;
}
